*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
    color: black;
}
body{
    margin:20px 140px 40px 140px;
    font-family: "DM sans";
    display: flex;
    flex-direction: column;
    gap: 120px;
} 
h2, h3, h4, h5{
    font-family: "U8-Regular";
}
h1{
    font-family: "U8-Regular";
    font-size: 48px;
    font-weight: bold;
}
h2{
    width: 400px;
    font-size: 40px;
}
p{
    font-family: "DM sans";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #444444;
}
button{
    padding: 16px 32px;
    border-radius: 8px;
    cursor: pointer;
}
.colored_button{
    background-color: #FB8E0B;
    color: white;
    width: 180px;
}
.transparent_button{
    background-color: transparent;
}

/* header style */
header{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
    margin-right: 20px;
    padding: 0 8px 0 8px;
    font-weight: bold;
    cursor: pointer;
}
li:hover{
    border-bottom: 2px solid black;
}
.hamburger_menu{
    display: none;
}


/* hero section */
.hero_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_hero_section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
}
.hero_text_and_button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero_text_and_button h1{
    width: 500px;
}
.hero_text_and_button p{
    color: #444444;
}
.hero_text_and_button button{
    width: 200px;
}
.fa-solid{
    color: white;
    margin-left: 8px;
}
.customers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
}
.customer_images img{
    width: 60px;
}
.customer_images img:nth-child(1){
    z-index: 3;
    position: relative;
}
.customer_images img:nth-child(2){
    margin-left: -20px;
    z-index: 2;
    position: relative;
}
.customer_images img:nth-child(3){
    margin-left: -20px;
    z-index: 3;
}
.happy_cutomers{
    border-right: 2px solid black;
    margin-right: 20px;
}
.customers_p{
    font-size: 32px;
    font-weight: bold;
}
.customers_rating img{
    width: 20px;
}

.right_hero_section img{
    height: 500px;
}

/* Section */
section{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.sub_features{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.sub_feature {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.sub_feature img{
    width: 45px;
}
.sub_feature_txt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sub_feature_txt p{
    width: 270px;
    color: #444444;
}


.meet_your_customer{
    /* background-color: #C4C4C4; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_side{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.left_side_p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}



.start_selling{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start_selling_left_side{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.start_selling_left_side{
    width: 400px;
}





.get_direct_order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get_direct_right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;
}
.get_direct_right_txt{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.get_direct_right_figures{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    width: 120px;
    align-items: center;
    gap: 20px;
}
.left h4{
    font-size: 22px;
}
.left p{
    font-size: 12px;
}



/* Testimony */

.testimony_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.testimony_section h2{
    text-align: center;
}
.testimony{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.testimony_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.testimony_txt{
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffff;
}
.testimony_txt h4{
    color: #FB8E0B;
}
.testimony_txt p{
    font-size: 12px;
}

.customer_info{
    display: flex;
    align-items: center;
    gap: 8px;
}
.customer_info img{
    width: 40px;
}
.customer_info p{
    font-size: 10px;
    margin-top: 8px;
}
.CTA{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.CTA h2{
    text-align: center;
    width: 600px;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upper_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    gap: 20px;
}
.lower_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #4444;
    padding-top: 20px;

}
.lower_footer p{
    font-size: 12px;
}
.term_and_condition{
    display: flex;
    gap: 20px;
}